*{
    margin: 0;
}

#titulo{
    display: flex;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 72px;
	text-align: center;
	margin-top: 50px;
    margin-bottom: 70px;
}

.geral{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu{
    
    width: 20vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

body {
    background-image: url(../componentes/masmorra.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
button {
    
    background-color: rgb(149, 149, 149);
    color: white;   
    border: 1;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
}

.first{
    padding: 12px 24px;
}

.second{
    padding: 12px 33px;
}

button:hover {
    background-color: white;
    color: gray;
}